@font-face {
  font-family: "iconfont"; /* Project id 3255034 */
  src: url('iconfont.woff2?t=1667284046351') format('woff2'),
       url('iconfont.woff?t=1667284046351') format('woff'),
       url('iconfont.ttf?t=1667284046351') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongithub:before {
  content: "\e66f";
}

.iconcuowu:before {
  content: "\e600";
}

.iconjinggao:before {
  content: "\e601";
}

.iconzhengquetishi:before {
  content: "\e65a";
}

.iconguanbi:before {
  content: "\e602";
}

.iconblog:before {
  content: "\e63a";
}

.iconemail:before {
  content: "\e61b";
}

.iconxinxi:before {
  content: "\e649";
}

.iconabout:before {
  content: "\e640";
}

.iconzhuye:before {
  content: "\e64a";
}

.iconcode:before {
  content: "\e7fc";
}

.iconQQ:before {
  content: "\e882";
}

.iconempty:before {
  content: "\e6f7";
}

.iconinteractive:before {
  content: "\e704";
}

.iconweixin:before {
  content: "\e8bb";
}

.icongitee:before {
  content: "\e60c";
}

.iconarrow-up-circle:before {
  content: "\e665";
}

.icondirection-down-circle:before {
  content: "\e66b";
}

